footer {
    margin-top: 150px;
    width: 100%;
    padding: 20px 5%;
    background-color: rgba(107, 25, 46, 0.432);;
    display: flex;
}

footer div {
    display: flex;
    text-align: left;
}

footer div h3 {
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col1 {
    display: block;
    flex-grow: 2;
}


footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);    
    padding: 20px
}
