.stick {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(107, 25, 46, 0.856);
    color: white;
}

.inner-navbar {
    position: sticky;
    top: 68px;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(107, 25, 46, 0.432);
    color: white;
}

.aktuell {
    background-color: rgba(107, 25, 46, 0.856);
    text-decoration: underline 2px;
}

.logo {
    display: block;
    font-size: 2rem;
    margin: 1rem;
    color: white;
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    font-size: larger;
    text-decoration: none;
    padding: 1.45rem 1rem;
    color: white;
    display: block;
}

.navbar-links li:hover {
    background-color: rgba(107, 25, 46, 0.938);
}

.sandwich-button {
    top: 1.4rem;
    right: 1rem;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 25px;
}

.sandwich-button .strich {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media  (max-width: 750px) {
    .sandwich-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .inner-navbar .navbar-links {
        display: flex;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }
}