* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    /*ursprünglich rgba(107, 25, 46, 0.151);*/
}

/*----allgemein----*/

main {
    min-height: 67vh;
}

main h1 {
    text-align: center;
    margin-bottom: 50px;
}

main p {
    padding: 2rem 10%;
    font-size: 4vw;
}

/*----Slider für die Hauptseite----*/

.slider {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
}

.slide img {
    height: 80vh;
}

/*----News Hauptseite----*/

.news {
    margin-top: 2rem;
    ;
    display: flex;
    justify-content: center;
    height: 600px;
    margin-bottom: 50px;
}

.news-feld {
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.news-feld a {
    color: rgb(164, 19, 19);
}

.news-feld a:hover {
    color: rgb(28, 11, 11);
    text-decoration: underline;
}

.news-feld p {
    font-size: 150%;
    float: left;
    text-align: left;
    padding-left: 2rem;
    margin-top: -50px;
}

.news-feld p a {
    text-decoration: none;
}

.newsbild {
    max-width: 80%;
    margin-left: 10%;
}

/*..........Festlegungen für Veranstaltungsmuster..........*/

h1.vTitel {
    /* top/bottom left/right */
    margin: 2% 10%;
    padding: 2% 0% 0% 0%;
    color: rgb(131, 19, 19);
    text-decoration: underline;
}

p.schlagwort {
    margin: 2% 10% 2% 12%;
    padding: 0% 0% 2% 0%;
    text-transform: uppercase;
    color: grey;
}

p.beschreibung {
    margin: 2% 10% 2% 12%;
    border-left-style: solid;
    border-left-width: 0.5rem;
    padding: 2%;
}

.vButton {
    margin: 2em 4em;
    border: none;
    border-radius: 2rem;
    padding: 15px 32px;

    background-color: rgba(107, 25, 46, 0.432);
    text-align: center;

    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.vButton a {
    color: white;
    text-decoration: none;
}

.vButton:hover {
    background-color: grey;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}