* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    /*background-color: rgba(107, 25, 46, 0.151); geändert von Lara*/
}

/*----allgemein----*/

main {
    min-height: 67vh;
}

main h1 {
    text-align: center;
    margin-bottom: 50px;
}

main p {
    padding: 2rem 10%;
    font-size: 1.25rem;
    /*font-size: 4vw; geändert von Lara*/
}

/*----Slider für die Hauptseite----*/

.slider {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide img {
    height: 80vh;
}

/*----News Hauptseite----*/

.news {
    margin-top: 2rem;
    ;
    display: flex;
    justify-content: center;
    height: 600px;
    margin-bottom: 50px;
}

.news-feld {
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.news-feld a {
    color: rgb(164, 19, 19);
}

.news-feld a:hover {
    color: rgb(28, 11, 11);
    text-decoration: underline;
}

.news-feld p {
    font-size: 150%;
    float: left;
    text-align: left;
    padding-left: 2rem;
    margin-top: -50px;
}

.news-feld p a {
    text-decoration: none;
}

.newsbild {
    max-width: 80%;
    margin-left: 10%;
}


/*..........Veranstaltungs- / Kurstabellen..........*/


.tableContainer {
    margin: 3rem 5%;
    width: 90%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.veranstaltung {
    top: 0;
    width: 100%;
    min-width: 65rem;
}

th {
    height: 3rem;
    font-size: 1.25rem;
    background-color: rgba(68, 4, 20, 0.523);
}

td {
    height: 2.5rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: left;
    font-size: 1rem;
}

td a {
    color: black;
}

tr:hover {
    background-color: rgba(68, 4, 20, 0.523);
}


/*..........Festlegungen für Veranstaltungs- / Kursmuster..........*/


h1.vTitel, p.schlagwort, p.datum, p.beschreibung, p.kUebersicht, .flex-container, hr {
    /* top/bottom left/right */
    margin: 1rem 7.5%;
}

p.schlagwort, p.datum, p.beschreibung, .flex-container > div, .vButton {
    font-size: 1.25rem;
}

h1.vTitel {
    padding: 2rem 0rem 0rem 0rem;
    text-align: left;
    font-size: 2rem;
    color: rgb(131, 19, 19);
}

p.schlagwort, p.datum {
    padding: 0rem 0rem 2rem 0rem;
    color: grey;
}


p.beschreibung {
    padding: 1rem 0rem;
}


p.kUebersicht {
    padding: 2rem 0rem 0rem 0rem;
    text-transform: uppercase;
    font: bold italic 1rem/1 sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-container > div {
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    border-style:groove;
}


/*..........Buttondesign der Veranstaltungen..........*/


.vButton {
    margin: 2rem 5%;
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 3rem;

    background-color: rgba(107, 25, 46, 0.432);
    text-align: center;

    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.vButton {
    color: white;
    text-decoration: none;
}

.vButton:hover {
    background-color: grey;
    box-shadow: 0.75rem 0.75rem 1rem rgba(0, 0, 0, 0.3);
}

/*ÜBER UNS*/
.title {
    overflow: hidden;
    text-align: center;
    font-size: 30px;

}
.title span {
    display: inline-block;
    vertical-align: middle;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #000000;
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -14px;
}
.title:after {
    margin-right: -100%;
    right: -14px;
}


.class_a{ 
    margin-top: 50px; 
  } 
  
  .class_a h1{ 
    font-family: 'Allura', cursive; 
    font-size: 52px; 
    margin-bottom: 60px; 
    text-align: center; 
  } 
  
  .step_b {
    display: flex; 
    justify-content: center; 
    width: auto; 
    text-align: center; 
    flex-wrap: wrap; 
    margin-top: 60px;
  } 
  
  .step_b .formating { 
    background: #dcc5c5; 
    margin: 4px; 
    margin-bottom: 50px; 
    width: 315px; 
    padding: 18px; 
    line-height: 20px; 
    color: #888dad; 
    position: relative; 
  } 
  
  .step_b .formating h3{ 
    color: #000000; 
    font-size: 26px; 
    margin-top: 90px; 
  } 
  
  .step_b .formating p.role { 
    color: #676363; 
    margin: 10px 0; 
    font-size: 13px; 
    text-transform: uppercase; 
  } 
  
  .step_b .formating .photo{ 
    position: absolute; 
    top: -50px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    background: #fff; 
  } 
  
  .step_b .formating .photo img{
    width: 150px; 
    height: 150px; 
    padding: 10px; 
  }

  .cont {
    height:100vh;
    width:100vw;
 }
 
 .shape {
    background: black url(./../../img/pexels-fauxels-3184428.jpg) center top no-repeat;
    height:70vh;
    width:40vw;
    background-size:cover;
    float:right;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    shape-margin:20px;
    margin-top: 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%)
 }

 .round {
    border-radius: 100px; 
    border: 1px solid rgb(43, 47, 59); 
    box-shadow: 0 0 7px #666; 
   }
  