* {
    box-sizing: border-box;
    /*---Moeglichst barierefreie Schriftarten, NICHT ABAENDERN!---*/
    font-family: Verdana, Helvetica, Arial, Tahoma, 'Times new Roman';
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

/*----allgemein----*/

main {
    min-height: 67vh;
}

main h1,
main h2 {
    padding: 2rem 10%;
    text-align: left;
    color: #2A6B47;
}

main p,
.map {
    padding: 2rem 10%;
    font-size: 1.25rem;
}

/*----Slider für die Hauptseite----*/

.slider {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    position: relative;
    right: 0%;
    transition: 1.5s;
}

.slide img {
    width: 60vw;
    padding: 1rem;
}

.slide-beschreibung {
    width: 40vw;
}

.slide-title {
    margin-bottom: 0;
    text-align: left;
    padding-left: 10%;
}

#hr_slide {
    border-top: 1px solid black;
    width: 100vw;
    margin: 0;
}

@media (max-width: 800px) {
    .slide {
        flex-wrap: wrap;
    }

    .slide img {
        width: 98vw;
    }

    .slide-beschreibung {
        width: 100vw;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    background: hsla(0, 0%, 0%, 0.511);
    top: 50%;
    width: auto;
    padding: 18px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.2s linear;
}

.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*----News Hauptseite----*/

.news {
    margin: 4rem 0rem 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-feld {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 700px;
    margin-bottom: 4rem;
}

.news-feld a {
    color: #2A6B47;
}

.news-feld a:hover {
    color: #5B846D;
    text-decoration: underline;
}

.news-feld p {
    font-size: 1.25rem;
    text-align: left;
    max-width: 60em;
    padding: 0;
    padding-right: 10px;
}

.news-feld h1 {
    text-align: center;
    padding-bottom: 0;
}

.news-feld p a {
    text-decoration: none;
}

.newsbild {
    margin-bottom: -2rem;
    max-width: 90%;
    height: auto;
}


/*..........Searchbar-Design..........*/


#searchbar {
    margin: 1rem 10%;
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    font-size: 1rem;
}

.veranstaltung {
    display: table-row;
}

/*..........Veranstaltungs- / Kurstabellen..........*/


.tableContainer {
    margin: 3rem 5%;
    width: 90%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.table {
    top: 0;
    width: 100%;
    min-width: 65rem;
    border-collapse: collapse;
    vertical-align: middle;
}

tr {
    height: 4rem;
}

tr.veranstaltung:hover {
    background-color: #47b87a80;
    cursor: pointer;
}

th {
    font-size: 1.2rem;
    background-color: #47B879;
    min-width: 10%;
}

td {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
}

td a {
    color: black;
    text-decoration: none;
    display: flex;
    min-height: 3.5rem;
}


/*..........Festlegungen für Veranstaltungs- / Kursmuster..........*/


h1.vTitel,
p.schlagwort,
p.datum,
p.beschreibung,
p.kUebersicht,
p.sUebersicht,
.flex-container,
hr {
    /* top/bottom left/right */
    margin: 1rem 7.5%;
}

p.schlagwort,
p.datum,
p.beschreibung,
.flex-container>div {
    font-size: 1.25rem;
}

h1.vTitel {
    padding: 2rem 0rem 0rem 0rem;
    text-align: left;
    font-size: 2rem;
    color: #2A6B47;
}

p.schlagwort,
p.datum {
    padding: 0rem 0rem 2rem 0rem;
    color: grey;
}

p.beschreibung {
    padding: 1rem 0rem;
}

p.kUebersicht,
p.sUebersicht {
    padding: 2rem 0rem 0rem 0rem;
    text-transform: uppercase;
    font: bold italic 1rem/1 sans-serif;
}

/*..........Diverses zu Flex-Kontänern..........*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-container>div {
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    border-style: groove;
}

.flex-container>button {
    margin: 0.5rem;
    padding: 1rem 2rem;
    text-align: center;
    border-style: none;
}


/*..........Buttondesign Veranstaltungen / Suche..........*/


.vButton,
.kButton {
    margin: 2rem 5%;
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 3rem;

    background-color: #5B846D;
    text-align: center;
    font-size: 1.25rem;

    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.kButton {
    margin: 2rem 5%;
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 3rem;

    background-color: #5B846D;
    text-align: center;
    font-size: 1.25rem;

    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.vButton,
.kButton {
    color: white;
    text-decoration: none;
}

.vButton:hover,
.kButton:hover {
    background-color: #2A6B47;
    box-shadow: 0.75rem 0.75rem 1rem rgba(0, 0, 0, 0.3);
}


/*..........Räume..........*/

.raumplan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.raumplanEl img {
    max-height: 480px;
    width: auto;
}

@media (max-width: 700px) {
    .raumplanEl img {
        width: 80vw;
        height: auto;
    }

    .raummap {
        display: none;
    }
}

.container-raumbeschreibung {
    min-height: 25rem;
}

.raumbild {
    margin-left: 7.5vw;
    margin-right: 1rem;
    height: 15rem;
    float: left;

}

.bgdark {
    background-color: #2a6b4724;
}


/*ÜBER UNS*/


.class_a {
    margin-top: 50px;
}

.class_a {
    margin-top: 50px;
    display: flex;
}

.class_a h1 {
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.step_b {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.step_b .formating {
    background: #87c285;
    margin: 4px;
    margin-bottom: 50px;
    width: 300px;
    padding: 18px;
    line-height: 20px;
    color: #000000;
    position: relative;

}

.step_b .formating h3 {
    color: #000000;
    font-size: 26px;
    margin-top: 90px;
}

.step_b .formating p.role {
    color: #000000;
    margin: 10px 0;
    font-size: 13px;
    text-transform: uppercase;
}

.step_b .formating .photo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
}

.step_b .formating .photo img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.shape {
    display: flex;
    background: black url(./../../img/pexels-fauxels-3184428.jpg) center top no-repeat;
    height:55vh;
    width:40vw;
    background-size:cover;
    float:right;
    margin-top: 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%)
}

.round {
    border-radius: 100px;
    border: 1px solid rgb(83, 219, 90);
    box-shadow: 0 0 7px rgb(88, 86, 86);
}

/*.........Unterseite "Kontakt" und zugehöriges Formular.........*/

.map {
    width: 100%;
}

.formular {
    margin: 3rem 5%;
    width: 90%;
}

fieldset {
    margin: 0.5rem 0rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

fieldset>div.formBreak {
    margin: 0.5rem;
}