* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    /*background-color: rgba(107, 25, 46, 0.151); ge채ndert von Lara*/
}

/*----allgemein----*/

main {
    min-height: 67vh;
}

main h1 {
    text-align: center;
    margin-bottom: 50px;
}

main p {
    padding: 2rem 10%;
    font-size: 1.25rem;
    /*font-size: 4vw; ge채ndert von Lara*/
}

/*----Slider f체r die Hauptseite----*/

.slider {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide img {
    height: 80vh;
}

/*----News Hauptseite----*/

.news {
    margin-top: 2rem;
    ;
    display: flex;
    justify-content: center;
    height: 600px;
    margin-bottom: 50px;
}

.news-feld {
    padding-top: 10px;
    height: 100%;
    width: 100%;
}

.news-feld a {
    color: rgb(164, 19, 19);
}

.news-feld a:hover {
    color: rgb(28, 11, 11);
    text-decoration: underline;
}

.news-feld p {
    font-size: 150%;
    float: left;
    text-align: left;
    padding-left: 2rem;
    margin-top: -50px;
}

.news-feld p a {
    text-decoration: none;
}

.newsbild {
    max-width: 80%;
    margin-left: 10%;
}


/*..........Veranstaltungs- / Kurstabellen..........*/


.tableContainer {
    margin: 3rem 5%;
    width: 90%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.veranstaltung {
    top: 0;
    width: 100%;
    min-width: 65rem;
}

th {
    height: 3rem;
    font-size: 1.25rem;
    background-color: rgba(68, 4, 20, 0.523);
}

td {
    height: 2.5rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: left;
    font-size: 1rem;
}

td a {
    color: black;
}

tr:hover {
    background-color: rgba(68, 4, 20, 0.523);
}


/*..........Festlegungen f체r Veranstaltungs- / Kursmuster..........*/


h1.vTitel, p.schlagwort, p.datum, p.beschreibung, p.kUebersicht, .flex-container, hr {
    /* top/bottom left/right */
    margin: 1rem 7.5%;
}

p.schlagwort, p.datum, p.beschreibung, .flex-container > div, .vButton a  {
    font-size: 1.25rem;
}

h1.vTitel {
    padding: 2rem 0rem 0rem 0rem;
    text-align: left;
    font-size: 2rem;
    color: rgb(131, 19, 19);
}

p.schlagwort, p.datum {
    padding: 0rem 0rem 2rem 0rem;
    color: grey;
}


p.beschreibung {
    padding: 1rem 0rem;
}


p.kUebersicht {
    padding: 2rem 0rem 0rem 0rem;
    text-transform: uppercase;
    font: bold italic 1rem/1 sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-container > div {
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    border-style:groove;
}


/*..........Buttondesign der Veranstaltungen..........*/


.vButton {
    margin: 2rem 5%;
    border: none;
    border-radius: 2rem;
    padding: 1.5rem 3rem;

    background-color: rgba(107, 25, 46, 0.432);
    text-align: center;

    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
}

.vButton a {
    color: white;
    text-decoration: none;
}

.vButton:hover {
    background-color: grey;
    box-shadow: 0.75rem 0.75rem 1rem rgba(0, 0, 0, 0.3);
}