.veranstaltung {
    width: 100%;
    padding: 0% 5%;
}

.vName{
    width: 50%;
}

th {
    height: 3em;
    font-size: larger;
    background-color: rgba(68, 4, 20, 0.523);
}

td {
    height: 2em;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: large;
}

td a {
    color: black;
}

tr:hover {
    background-color: rgba(68, 4, 20, 0.523);
}

