.veranstaltung {
    width: 100%;
    padding: 3rem 5rem;
}

.vDate {
    width: 17.5%;
}

.vName{
    width: 30%;
}

th {
    height: 3em;
    font-size: larger;
    background-color: rgba(68, 4, 20, 0.523);
}

td {
    height: 2.5em;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: large;
}

td a {
    color: black;
}

tr:hover {
    background-color: rgba(68, 4, 20, 0.523);
}