.title {
    overflow: hidden;
    text-align: center;
    font-size: 30px;

}
.title span {
    display: inline-block;
    vertical-align: middle;
}
.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    background-color: #000000;
    position: relative;
}
.title:before {
    margin-left: -100%;
    left: -14px;
}
.title:after {
    margin-right: -100%;
    right: -14px;
}


.class_a{ 
    margin-top: 50px; 
  } 
  
  .class_a h1{ 
    font-family: 'Allura', cursive; 
    font-size: 52px; 
    margin-bottom: 60px; 
    text-align: center; 
  } 
  
  .step_b {
    display: flex; 
    justify-content: center; 
    width: auto; 
    text-align: center; 
    flex-wrap: wrap; 
    margin-top: 60px;
  } 
  
  .step_b .formating { 
    background: #dcc5c5; 
    margin: 4px; 
    margin-bottom: 50px; 
    width: 315px; 
    padding: 18px; 
    line-height: 20px; 
    color: #888dad; 
    position: relative; 
  } 
  
  .step_b .formating h3{ 
    color: #000000; 
    font-size: 26px; 
    margin-top: 50px; 
  } 
  
  .step_b .formating p.role { 
    color: #676363; 
    margin: 10px 0; 
    font-size: 13px; 
    text-transform: uppercase; 
  } 
  
  .step_b .formating .photo{ 
    position: absolute; 
    top: -50px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background: #fff; 
  } 
  
  .step_b .formating .photo img{
    width: 100px; 
    height: 100px; 
    padding: 5px; 
  }

  .cont {
    height:70vh;
    width:100vw;
 }
 
 .shape {
    background: black url(./../../img/pexels-fauxels-3184428.jpg) center top no-repeat;
    height:50vh;
    width:40vw;
    background-size:cover;
    float:right;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    shape-margin:10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%)
 }

  